

body{
  background-color: #000000;
  margin:0;
}

#wrapperDiv{
  background-color: #003129;
  height: 800px;
  width: 800px;
  border: solid black 0px;
  margin:auto;
  margin-top: 0px;
  margin-bottom: 0px;
}

#cnv{
margin:inherit;
}
